{% extends "base.html.twig" %}

{% block title %}
    Episode par saison
{% endblock %}

{% block body %}
    <h1>Série : {{ program.title }}</h1>
    <div>
        <h2>Saison numéro : {{ season.number }}</h2>
        <h3>Episode numéro : {{ episode.number }} / Titre : {{ episode.title }}</h3>
        <p>Resumé : {{ episode.synopsis }}</p>
    </div>
{% endblock %}